.name{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.job{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.container{
    display: flex;
    margin-bottom: 26px;
    align-items: center;
}
.accept{
    margin-left: 40px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.reviewText{
    color: #B3B3B3;
    font-size: 14px;
}

.text{
    margin-bottom: 22px;
}
.cart{
    display: flex;
    margin-top: 40px;
}
.img{
    max-width: 101px;
    width: 100%;
    height: 101px;
}
.containerText{
    max-width: 450px;
    width: 100%;
    margin-left: 20px;
    padding-bottom: 35px;
    border-bottom: #B3B3B3 1px solid;
}
.xxx{
    display: flex;
    align-items: center;
}
.imgh{
    max-width: 101px;
    width: 100%;
    height: 101px;
}
.infoh{
    display: none;
}

@media screen and (max-width: 322px) {
    .cart{

    }
    .img{
        display: none;
    }
    .infoh{
        display: flex;
        column-gap: 20px;
    }
    .info{
        display: none;
    }
    .imgh{
        display: block;

    }
    .container{
        display: block;
        margin: 0;
    }
    .accept{
        margin: 0;
    }
    .star{
        display: none;
    }
    .xxx{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}