.hero{
    width: 100%;
    height: 840px;
    background-image: url("../../assets/helimain.png");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 100%;
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.containerText{
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.contTitle{
    display: flex;
    width: 100%;
    max-width: 820px;
    margin-bottom: 29px;
}
.title{
    font-weight: 700;
    font-size: 40px;
    color: white;
    text-align: left;
}

.price{
    border: 1px solid #FC9B09;
    max-width: 224px;
    width: 100%;
    background: #FC9B09;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 86px;
    box-shadow: 0 4px 4px 0 #0000001A;

}
.price::before, .price::after{
    content: '';
    position: absolute;
    left: 120px; bottom: -10px;
    width: 20px;
    height: 10px;
    filter: drop-shadow(0 4px 4px #0000001A);
    background: linear-gradient(to right top, transparent 50%, #FC9B09 50%) left / 50% 100% no-repeat, linear-gradient(to left top, transparent 50%, #FC9B09 50%) right / 50% 100% no-repeat;
}
.button{
    padding: 24px 37px;
    background: transparent;
    border: 3px solid white;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border-radius: 3px;
    margin-top: 22px;
    cursor: pointer;
}
.percent{
    color: white;
    font-weight: 800;
    font-size: 35px;
    border-radius: 100%;
    max-width: 52px;
    width: 100%;
    height: 52px;
    border: 1px solid white;
}

.moduleText{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}
.input{
    width: 420px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
    padding-left: 20px;
    font-size: 16px;
    outline: none;
}
.img{
    position: absolute;
    top: -4px;
    right: 10px;
    width: 27px;
    cursor: pointer;
}

.wrapperSuperficial{
    margin-top: auto;
    margin-bottom: auto;
}
.superficial{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    column-gap: 10px;
    color: #fff;
}
.cost{
    font-size: 20px;
}
.officialPrice{
    font-size: 35px;
    font-weight: 800;
}

.orange{
    color: #FC9B09;
}

@media screen and (max-width: 320px) {
    .hero{
        width: 100%;
        height: 655px;
        background-image: url("../../assets/helimain.png");
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }
    .container{
        transform: scale(0.9);
    }
}