.reviews{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: left;
    line-height: 24px;
}
.container{
    max-width: 1140px;
    width: 100%;

}
.cart{
    display: flex;
    margin-top: 40px;
}
.img{
    width: 101px;
    height: 101px;
}
.text{
    max-width: 450px;
    width: 100%;
    margin-left: 20px;
    padding-bottom: 35px;
    border-bottom: #B3B3B3 1px solid;
}
.marginBottom{
    margin-bottom: 10px;
}
.all{
    color: #5286EC;
    display: flex;
    column-gap: 10px;
    margin-bottom: 47px;
    margin-top: 45px;
}
.preFooter{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 530px;
    align-items: center;
}
.icons{
    margin-right: 30px;
}
.title{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}
.displayFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerIcons{
    display: flex;
    margin-right: 30px;
}
.ru{
    font-size: 15px;
    margin-right: 6px;
}
.arr{
    display: block;
}
@media screen and (max-width: 322px) {
    .title{
        text-align: center;
        font-size: 28px;
    }
    .preFooter{
        transform: scale(0.9);
        justify-content: space-between;
        column-gap: 50px;
    }
    .ru{
        display: none;
    }
    .arr{
        display: none;
    }
    .icons{
        margin-right: 20px;
    }
    .reviews{
        padding-top: 20px;
    }
}