.aboutContainer{
    max-width: 584px;
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
}
.contact{
    max-width: 360px;
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 116px;
}
.heart{
    position: absolute;
    left: 300px;
}
.title{
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 500;
}
.text{
    white-space: normal;
    font-weight: 400;
    margin-bottom: 5px;
}
.subtext{
    margin-top: 30px;
    font-weight: 400;
}
.moreText{
    display: flex;
    align-items: center;
    color: #5286EC;
}
.moreText img{
    margin-left: 10px;
}

.about{
    padding-top: 50px;
    display: flex;
    border-bottom: 0.5px solid #C7C7C7;
    line-height: 24px;
}
.ellipseWoman{
    margin-bottom: 23px;
}
.name{
    font-size: 18px;
    margin-bottom: 7px;
}
.job{
    font-size: 14px;
    margin-bottom: 11px;
}
.link{
    text-decoration: none;
    color: #5286EC;
    font-size: 14px;
}
.contactH{
    max-width: 360px;
    width: 100%;
    height: 350px;
    position: relative;
    display: none;
    justify-content: center;
    margin-left: 116px;
}

@media screen and (max-width: 320px) {
    .about{
        display: block;
        padding-top: 20px;
        border: none;
    }
    .contact{
        display: none;
        height: 250px;
        margin: 0;
    }
    .heart{
        left: 230px;
    }
    .contactH{
        display: flex;
        height: 300px;
        margin: 0;
    }
}
