.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.container{
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 36px;
}
.phone{
    display: flex;
}
.telephone{
    color: #B3B3B3;
}
.hidden{
    display: none;
}

@media screen and (max-width: 322px) {
    .container{
        max-width: 320px;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .phone{
        display: none;
    }
    .hidden{
        display: block;
        color: #5286EC;
    }
    .helyfly{
        max-width: 84px;
    }
}