.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.container{
    width: 1140px;
    display: flex;
    justify-content: flex-start;
    column-gap: 36px;
}
.phone{
    display: flex;
}