.footer{
    display: flex;
    justify-content: center;
    height: 77px;
    background: #FAF9F8;
    width: 100%;
}
.container{
    width: 1025px;
    display: flex;
    justify-content: space-between;
}
.icons{
    padding-top: 14px;
    column-gap: 20px;
}

.text{
    padding-top: 3px;
    flex:auto;
    margin-right: 100px;
    color: #B3B3B3;
    font-size: 14px;
}
.img{
    width: 39px;
}
.marginLeft20{
    margin-left: 20px;
}
.marginBottom7{
    margin-bottom: 7px;
}
.ru{
    font-size: 15px;
    margin-right: 6px;
}
.ruCont{
    display: none;
}
.arr{
    display: block;
}
.iconsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 322px) {
    .footer{
        height: unset;
    }
    .container{
        display: block;
    }
    .icons{
        display: flex;
        margin-bottom: 20px;
        column-gap: 10px;
        margin-right: 40px;
    }
    .text{
        flex: unset;
        text-align: center;
        margin-right: 0;
        padding-bottom: 20px;
    }
    .ruCont{
        display: flex;
    }
}