.photoShoot{
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    height: 100%;
    width: 1140px;
}

.mainTitle{
    width: 400px;
    word-break: break-word;
    font-size: 40px;
    font-weight: 500;
    line-height: 49px;
    text-align: left;
}
.text{
    width: 430px;
    font-size: 18px;
    text-align: left;
    margin-top: 18px;
    margin-bottom: 21px;
}
.border{
    list-style: none;
    padding: 0;
    text-align: left;
}
.li{
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 11px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 16px;
}
.li img{
    width: 40px;
    height: 40px;
}
.star {
    margin-right: 7px;
}
.wrapperCup{
    display: flex;
    width:569px;
    height:87px;
    align-items: center;
    border-bottom: 0.5px solid #C7C7C7;
}
.cup{
    margin-right: 12px;
}
.cupText{
    margin-right: 14px;
}
.wrapperShooting{
    width: 569px;
    height: 440px;
    border-bottom: 0.5px solid #C7C7C7;
    color: #37373F;
}

.imgShoot{
    width: 554px;
    height: 374px;
}
.flex{
    display: flex;
}