.title{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin-bottom: 37px;
}
.titleH{
    font-size: 28px;
    font-weight: 400;
    display: none;
    margin-bottom: 37px;
}
.wrap{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.wrapper{
    max-width: 275px;
    width: 100%;
    height: 185px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img{
    max-width: 275px;
    width: 100%;
    height: 185px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.text{
    color: #5286EC;
    display: flex;
    column-gap: 10px;
    margin-bottom: 27px;
    margin-top: 45px;
}
.gallery{
    width: 100%;
    padding-top: 30px;
    border-bottom: 0.5px solid #C7C7C7;
}

.displayCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 320px) {
    .wrap{
        overflow: hidden;
        flex-wrap: nowrap;
    }
    .gallery{
        border: none;
    }
    .title{
        display: none;
        justify-content: center;
        text-align: center;
    }
    .titleH{
        display: flex;
        justify-content: center;
    }
    .displayCenter{
        display: none;
    }
    .img{
        position: absolute;
    }
}